
{%for un,ts,msg in messages%}
  {% if un == current %}
  <div class="container darker">
  <img src="https://identicon-api.herokuapp.com/{{un}}/200x200?format=png" alt="{{un}}" height = 60px class="right">
  <p class = "msg" align = "right">{{msg}}</p>
  <span class="time-left">{{ts}}</span>
</div>

  {% else %}
  <div class="container">
  <img src="https://identicon-api.herokuapp.com/{{un}}/200x200?format=png" alt="{{un}}" height = 60px>
  <p class = "msg">{{msg}}</p>
  <span class="time-right">{{ts}}</span>
</div>

  {% endif %}
{%endfor%}
